<title>Login</title>
<div class="">


    <div fxLayoutAlign="center center" class="pt-5 pb-0">
        <div class="col-lg-7 text-center">
            <h1 class="display-4 fw-bold lh-1 mb-3 page-title">SubscriptionMAN! Manage your business Subscriptions so easly </h1>
            <p class="expl-txt">
                SubscriptionMAN is Subscription management platform that makes it easy for you to 
                manage your customers' subscriptions and make sure that their experience with your product(s) or service(s) is a happy one.
            </p>
        </div>
    </div>

    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex="25">

            <mat-toolbar fxLayoutAlign="center center">Login Page</mat-toolbar>

            <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="loginForm">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username"  formControlName="username">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>

                <div class="m-1 text-center">
                    <p>Don't have an account? <a class="font-weight-medium text-primary" href="/register">Register </a> </p>
                </div>


                <button mat-stroked-button color="primary" (click)="onLoginClicked()">Login</button>
            </form>
        </mat-card>
    </div>
</div>