.main-div{
    padding-top: 50px;
}
.main-div mat-card{
    padding: 0px;

}

.login-form{
    padding: 30px;
}

.page-title{
    font-size: 30px;
}

.expl-txt{
    font-size: 20px;
}

.red-snackbar{
    background-color: red;
}