<p>Welcome Back mister {{username}}</p>
<!-- HTML for the button to trigger the modal -->


<div>Total Number of Subscription Services {{totalNumberOfSubscriptionServices}}</div>

<button class="btn btn-primary" routerLink="/addSubscriptionService">Add Subscription Service</button>


<div class="card mt-5" *ngIf="subscriptionServices.length">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Total Number of Clients</th>
                    <th>Active Clients</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let ss of subscriptionServices">
                    <td>{{ss.name}}</td>
                    <td>{{ss.description}}</td>
                    <td>{{ss.totalNumberOfClients}}</td>
                    <td>{{ss.numberOfActiveClients}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<mat-paginator [length]="totalNumberOfSubscriptionServices"
              [pageSize]="paginationSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="pageEvent($event)">
</mat-paginator>